@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,body,html{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: var(--background);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.mainContainer{
  
   display: flex;
   margin-top: var(--margin);
   width: 90%;
   max-width: 1200px;
   height: 100vh;
   justify-self: center;
   background-color: var(--background);

   
}

.dark [type="date"]{
        
  &::-webkit-calendar-picker-indicator {
 filter: invert(1);
  background-color: transparent;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
 }

 .rdt_TableHeadRow{
   color: var(--primary) !important;
   font-size: 1.2rem !important;

 }
 .rdt_TableRow{
   color: var(--text) !important;
  font-size: 1rem !important;

 }

   
 /* src/assets/css/datatable.scss */

.rdt_Pagination {
  background-color: var(--background)!important;
  color: var(--text)!important;
  border-top: 1px solid var(--primary)!important;
  padding: 12px;
}

.rdt_PaginationBtn {
  background-color: var(--primary)!important;
  color: var(--text)!important;
  margin: 0 4px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.rdt_PaginationBtn:hover {
  background-color: var(--button-hover)!important;
}

.dlOXOQ {
   color: var(--button-bg)!important;
    opacity:1!important;
    fill: var(--button-bg)!important;
}
.dlOXOQ:disabled{
      
    color: var(--button-bg)!important;
    opacity:0.5!important;
    fill: var(--button-bg)!important;

}
