@use '../../../assets/css/variables.scss';


@mixin formInput{

    margin-top: 0.5rem;
    width: 100%;
    padding:0.5rem;
    font-size: 1rem;
    color: var(--text);
    border: 1px solid var(--text);
    outline: none; // ✅ to suppress browser defaults
    transition: border 0.2s;
    &:focus{
            border: 1px solid var(--primary);

    }
      
}

.formConatainer{

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    h3{
        color: var(--primary);
        font-size: 1.5rem;

    }
}

.formGroup{
    width: 80%;
    max-width: 400px;
    margin: 1rem auto;

     label{
        display: block;
        text-align: left;
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--text);
      
     }
     input{
       
        @include formInput()
         
        

     }
    
     select{
         @include formInput()
     }
     
     .error{
        text-align: left;
        margin-top: 2px;
        color: red;
     }

     button{
      
        margin: 0 auto;
     }
}